land_management_system/db.sqlite3
land_management_system/.env
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
*.pyc
__pycache__/