{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/@metamask/detect-provider@1.2.0/dist/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.0/web3.min.js"></script>
  </head>
  <body>
    <div style="display: none;">
      Contract Address:<div id="debugContractAddress">{{ contract_address }}</div>ABI:<div id="debugABI">{{ abi|safe }}</div>
    </div>
    <div class="dashboard-container">
      <h1>Welcome to Your Dashboard, {{ request.user.username }}</h1>
      <div class="logout-button">
        <a href="{% url 'user_logout' %}" class="btn-logout">Logout</a>
      </div>
      <h2>Your Lands</h2>
      {% if lands %}
        <table>
          <thead>
            <tr>
              <th>Tehsil</th>
              <th>Khasra Number</th>
              <th>Division</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for land in lands %}
              <tr>
                <td>{{ land.land.tehsil }}</td>
                <td>{{ land.land.khasra_number }}</td>
                <td>{{ land.land.division }}</td>
                <td>
                  <button onclick="transferLand({{ land.id }}, '{{ land.transferee_user.wallet_address }}', '{{ land.land.khasra_number }}', '{{ land.land.tehsil }}', '{{ land.land.division }}')">Transfer</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No lands available where taxes are fully paid.</p>
      {% endif %}
    </div>
    <script>
      async function connectWallet() {
        if (typeof window.ethereum !== 'undefined') {
          try {
            await window.ethereum.request({ method: 'eth_requestAccounts' })
            return new Web3(window.ethereum)
          } catch (error) {
            console.error('Failed to connect wallet:', error)
            alert('Failed to connect wallet. Check the console for more details.')
          }
        } else {
          alert('MetaMask is not installed. Please install MetaMask to interact.')
        }
      }
      
      async function transferLand(landId, receiverWalletAddress, landDetails) {
        const web3 = await connectWallet()
        if (!web3) {
          console.log('Wallet connection failed or was denied by user.')
          return
        }
      
        const contractAddress = document.getElementById('debugContractAddress').innerText.trim()
        const abi = JSON.parse(document.getElementById('debugABI').innerText.trim())
        const contract = new web3.eth.Contract(abi, contractAddress)
        const accounts = await web3.eth.getAccounts()
        const fromAddress = accounts[0] // Using the first account in MetaMask
      
        console.log('Transferor Address:', fromAddress)
        console.log('Transferee Address:', receiverWalletAddress)
        console.log('Contract Address:', contractAddress)
        console.log('Land ID:', landId)
        console.log('Khasra:', landDetails.khasra)
        console.log('Tehsil:', landDetails.tehsil)
        console.log('Division:', landDetails.division)
      
        try {
          const gasEstimate = await contract.methods.safeTransferFrom(fromAddress, receiverWalletAddress, landId).estimateGas({ from: fromAddress })
          const transferResult = await contract.methods.safeTransferFrom(fromAddress, receiverWalletAddress, landId).send({ from: fromAddress, gas: gasEstimate })
          console.log('Transfer successful:', transferResult)
        } catch (error) {
          console.error('Error transferring NFT:', error)
          alert(`Error during the transfer: ${error.message}`)
        }
      }
      
      async function updateMetadata(landId, newOwnerWallet) {
        fetch(`/update-metadata/${landId}/${newOwnerWallet}`)
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.error('Error updating metadata:', error))
      }
      
      window.ethereum.on('accountsChanged', (accounts) => {
        if (accounts.length === 0) {
          console.log('Please connect to MetaMask.')
        } else {
          console.log('Account changed:', accounts[0])
        }
      })
      
      window.ethereum.on('chainChanged', (_chainId) => window.location.reload())
      console.log('Contract Address:', document.getElementById('debugContractAddress').innerText)
      console.log('ABI:', JSON.parse(document.getElementById('debugABI').innerText))
    </script>
  </body>
</html>
